.card{
width:320px;
margin:auto;
padding:20px;
background:white;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
text-align:center;
}

input{
width:100%;
padding:8px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;
}

.btn{
width:100%;
padding:10px;
margin-top:10px;
background:#4a90e2;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
transition:0.2s;
}

.btn:hover{
background:#2f6fd1;
}

.btn:active{
transform:scale(0.95);
}

.register{
background:#28a745;
}

.register:hover{
background:#1f7a33;
}